body {
  background: #fff;
  color: #000;
  margin: 0px;
  padding: 0px;
}

body,
input,
button,
select,
textarea {
  font-family: "Noto Color Emoji", sans-serif;
  font-size: 16px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100px;
  ime-mode: inactive;
}

input[type="text"],
input[type="number"] {
  text-align: right;
}

textarea {
  height: 100px;
}

header {
  margin: 0px;
  padding: 0px;
}

main {
  margin: 0px;
  padding: 0px 1em;
}

footer {
  border-top: solid 1px #ccc;
  margin: 1ex 0px;
  padding: 1ex 0px;
  text-align: center;
  color: #888;
}

footer a {
  color: #888;
  text-emphasis: underline;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote {
  margin: 10px 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

h2 {
  font-size: 18px;
  background: #cde;
  border-radius: 5px;
  padding: 5px 10px;
}

h3 {
  font-size: 16px;
}

ul,
ol {
  padding: 0px 0px 0px 2em;
}

li {
  margin: 1ex 0px;
  padding: 0px;
}

li p:first-child,
li ul:first-child,
li ol:first-child,
li blockquote:first-child {
  margin-top: 0px;
}

table {
  margin: 10px 0px;
  background: #fff;
  border-collapse: collapse;
  line-height: 2.5ex;
}

tr:nth-child(odd) {
  background-color: #f8f8f8;
}

th,
td {
  border: solid 1px #888;
  padding: 0.2ex 0.5em;
}

th {
  background: #ddd;
}

.nowrap {
  white-space: nowrap;
}

pre,
code,
.codePlaneTitle {
  font-family: Consolas, 'Courier New', Courier, monospace;
}

pre,
.codeHiddenBox {
  padding: 1ex 1em;
  background: #f8f8f8;
}

pre {
  border: solid 1px #ccc;
  overflow: scroll;
}

code {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0px 5px;
  color: #246;
  font-weight: bold;
}

img, svg, canvas {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

span.note {
  font-size: smaller;
  color: #666;
}

a.mode-button {
  padding: 5px 20px;
  margin: 0px 5px;
  border-radius: 5px;
  text-decoration: none !important;
}

a.active {
  background: #4285f4;
  color: white;
}

a.inactive {
  background: #ccc;
  color: #666;
}

.figure {
  border: solid 1px #ccc;
  border-radius: 5px;
}
