body {
  background: #fff;
  color: #000;
  margin: 0px;
  padding: 0px;
}

body,
input,
button,
select,
textarea {
  font-family: "Noto Color Emoji", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="tel"],
textarea,
select {
  width: 125px;
  ime-mode: inactive;
}

input[type="text"],
input[type="number"],
input[type="tel"] {
  text-align: right;
}

textarea {
  height: 100px;
}

header {
  margin: 0px;
  padding: 0px;
}

main {
  margin: 0px;
  padding: 0px 1em;
}

footer {
  border-top: solid 1px #ccc;
  margin: 1ex 0px;
  padding: 1ex 0px;
  text-align: center;
  color: #888;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote {
  margin: 10px 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

h2 {
  font-size: 18px;
  background: #ddd;
  border-radius: 5px;
  padding: 5px 10px;
}

h3 {
  font-size: 16px;
}

ul,
ol {
  padding: 0px 0px 0px 2em;
}

li {
  margin: 1ex 0px;
  padding: 0px;
}

li p:first-child,
li ul:first-child,
li ol:first-child,
li blockquote:first-child {
  margin-top: 0px;
}

table {
  margin: 10px 0px;
  background: #fff;
  border-collapse: collapse;
  line-height: 2.5ex;
}

tr:nth-child(odd) {
  background-color: #f8f8f8;
}

th,
td {
  border: solid 1px #888;
  padding: 0.2ex 0.5em;
}

th {
  background: #ddd;
}

.nowrap {
  white-space: nowrap;
}

pre,
code,
.codePlaneTitle {
  font-family: Consolas, 'Courier New', Courier, monospace;
}

pre,
.codeHiddenBox {
  padding: 1ex 1em;
  background: #f8f8f8;
}

pre {
  border: solid 1px #ccc;
  overflow: scroll;
}

code {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0px 5px;
  color: #246;
  font-weight: bold;
}

img,
svg,
canvas {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

span.note {
  font-size: smaller;
  color: #666;
}

a.mode-button {
  padding: 5px 20px;
  margin: 0px 5px;
  border-radius: 5px;
  text-decoration: none !important;
}

a.active {
  background: #4285f4;
  color: white;
}

a.inactive {
  background: #ccc;
  color: #666;
}

.figure {
  display: inline-block;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.icon {
  scale: 1.2;
  margin-right: 5px;
}

.spin {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.menuBar {
  background: #222;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  text-align: center;
  margin: 0px;
  padding: 0px;
  line-height: 50px;
  overflow: hidden;
}

.menuBar button {
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px 10px;
  line-height: 50px;
  color: #fff;
  white-space: nowrap;
}

.menuBar button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.menuBarButtonActive {
  filter: contrast(50%) sepia(100%) saturate(500%) hue-rotate(160deg) drop-shadow(0px 0px 5px #06f);
}

.menuBar button img {
  width: 40px;
  height: 40px;
  vertical-align: top;
  margin-top: 5px;
}

.menuBarButtonLabel {
  display: inline-block;
  height: 50px;
  vertical-align: top;
  line-height: 50px;
  margin-left: 10px;
}

.menuBarButtonLabelText {
  display: table-cell;
  width: 100px;
  height: 50px;
  line-height: 14px;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
}

.homeMenuButton {
  display: inline-block;
  width: 300px;
  height: 80px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #eee;
  line-height: 80px;
  text-align: left;
  cursor: pointer;
  padding: 0px;
  margin: 5px;
  white-space: nowrap;
}

.homeMenuButton:hover {
  background: #fff;
}

.homeMenuButton img {
  width: 60px;
  height: 60px;
  vertical-align: top;
  margin: 10px 0px 0px 10px;
  filter: invert();
}

.homeMenuButtonLabel {
  display: inline-block;
  height: 80px;
  vertical-align: top;
  line-height: 80px;
  margin-left: 10px;
}

.homeMenuButtonLabelText {
  display: table-cell;
  width: calc(300px - 60px - 10px * 4);
  height: 80px;
  line-height: 24px;
  font-size: 20px;
  vertical-align: middle;
  white-space: normal;
}

.pageContainer {
  margin-top: 80px;
}
